.info{
   
    padding: 5%;
}
ion-header{
    background-color: beige;
}
.cardv
{
    border-color: blanchedalmond solid 10px;
}
.bg-class{
    --background: linear-gradient(197deg, rgb(255, 247, 247) 0%, rgb(78, 117, 136) 13.5%, rgb(130, 212, 226) 33.33%, rgb(187, 220, 233) 100%) !important;
  }
  .bg-class2{
    --background: linear-gradient(180deg, rgb(255, 247, 247) 0%, rgb(200, 242, 245) 23%, rgb(137, 231, 238) 11%, rgb(247, 244, 246) 70%) !important;
  }