<div class="bg-class">
<ion-header [translucent]="true" class="bg-class">
  <ion-toolbar class="bg-class">
    <ion-title>
      Bill tracker
    </ion-title>
   
  </ion-toolbar>
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="logout()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-header collapse="condense">
    <ion-toolbar class="bg-class">
      <ion-title size="large" class="text-light">Bill tracker</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list class="bg-class">
    <ion-card class="bg-class">
      <ion-card-header class="bg-class">
        <ion-card-subtitle>Add,remove and edit billing items</ion-card-subtitle>
        <ion-card-title>Manage Bills</ion-card-title>
      </ion-card-header>
    
      <ion-card-content  >
        <ion-card class="cardv bg-class2"  *ngFor="let item of items; let i = index">
          <div class="info ">
            <h2 class="text" ><b>{{item.name}}</b></h2><br>
            <p>Billing Amount $ {{item.amount}}</p>
            <p>Due day {{item.due_day}}
    </div>
          
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-button expand="full" (click)="editItem(item, item._id)" color="danger">
                  <ion-icon name="create-outline"></ion-icon>Edit</ion-button>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-button expand="full" (click)="removeItem(item,item._id)" color="danger">
                  <ion-icon name="trash-outline"></ion-icon>Delete</ion-button>
               
               
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-button expand="full" (click)="shareItem(item, item._id)" color="danger">
                  <ion-icon name="share-social-outline"></ion-icon>share</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    
        
          </ion-card>



  </ion-card-content>
</ion-card>

  
      
   
  </ion-list>


  

</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addItem()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</div>
